<h1>Algemene informatie</h1>

<p>
Welkom bij EventPlanner We bieden een breed scala aan evenementen aan, van workshops en concerten tot netwerkbijeenkomsten en feestelijke vieringen. Onze missie is om unieke ervaringen te creëren en deelnemers een gedenkwaardige tijd te bieden.
</p>
<h1>
Aanmelding voor Evenementen
</h1>
<p>
Wanneer je je aanmeldt voor een evenement via onze website, ontvang je een bevestiging via e-mail met details over het evenement, zoals datum, locatie en eventuele extra informatie. Je krijgt ook een uniek ordernummer dat je kunt gebruiken om je reservering te beheren.
</p>
<h1>
Annuleren van Aanmeldingen
</h1>
<p>
Als je om welke reden dan ook je aanmelding wilt annuleren, verzoeken wij je vriendelijk contact met ons op te nemen via e-mail (info@eventplannerapp.nl) of telefonisch (+31 123 456 789). Dit stelt ons in staat om je annulering op een efficiënte en persoonlijke manier te verwerken. Let op: Annuleringen moeten uiterlijk 48 uur voor het evenement worden doorgegeven.
</p>