@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

    Welkom bij EventPlanner, de plek waar je moeiteloos evenementen kunt plannen en beheren. Wij hechten veel waarde aan de privacy van onze gebruikers en nemen alle mogelijke stappen om ervoor te zorgen dat jouw persoonlijke informatie veilig en vertrouwelijk wordt behandeld. Dit privacybeleid legt uit hoe wij gegevens verzamelen, gebruiken en beschermen die door onze gebruikers worden verstrekt.

    Bij het gebruik van onze website kunnen wij persoonlijke informatie verzamelen, zoals je naam, e-mailadres, telefoonnummer en andere relevante gegevens die nodig zijn voor het plannen en beheren van evenementen. Wij gebruiken deze gegevens uitsluitend om onze diensten te verlenen, zoals het maken van tickets, beheren van evenementen, communiceren met gebruikers en het bieden van gerelateerde ondersteuning.

    We nemen technische en organisatorische maatregelen om jouw gegevens te beschermen tegen ongeoorloofde toegang, openbaarmaking, verlies of schade. Daarnaast zullen we jouw gegevens niet verkopen, verhuren of op een andere manier openbaar maken aan derden zonder jouw toestemming, tenzij wettelijk verplicht.

    Onze website kan koppelingen bevatten naar externe websites of services, en wij zijn niet verantwoordelijk voor het privacybeleid van deze externe partijen.

    Door gebruik te maken van onze diensten ga je akkoord met dit privacybeleid en geef je ons toestemming om je persoonlijke gegevens te verwerken zoals beschreven. Als je vragen hebt over ons privacybeleid, aarzel dan niet om contact met ons op te nemen.

    Dank je voor je vertrouwen in EventPlanner!
</p>
